.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(25px + 2vmin);
}
header div {
  padding: 10px 20px 0 20px;
}
nav {
}
.centered-nav {
  margin: 0 auto;
  width: 33%;
}
.logo {
  height: 10vmin;
  pointer-events: none;
}
.link {
  margin: 0 7px;
}

main {
  margin: 0 auto;
}
