{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest/globals": true,
    "jest": true
  },
  "extends": ["standard", "standard-react", "standard-jsx", "eslint:recommended", "plugin:jest/recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "jest"],
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "no-unused-vars": "off",
    "one-var": "off",
    "dot-notation": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-boolean-value": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/no-unused-prop-types": "off",
    "camelcase": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-closing-tag-location": "off",
    "react/jsx-fragments": "off",
    "react/jsx-closing-bracket-location": "off",
    "no-comma-dangle": "off"
  },
  "settings": {
    "react": {
      "version": "16.13.1"
    }
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
