#contextDemo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contextPanel {
    border: 1px solid black;
    margin: 0 25px;
    padding: 10px;
}
.current {
    text-align: center;
    font-size: 24px;
}
.highlight {
    font-weight: bold;
    font-style: italic;
}
h1.red, p .red {
    color: red;
    font-weight: bold;
}
h1.green, p .green {
    color: green;
    font-weight: bold;
}
.contextPanel.red {
    border: 2px solid red;
}
.contextPanel.green {
    border: 2px solid green;
}
tbody td {
    padding: 5px;
}
