.nav-menu-link {
  padding: 0.857rem;
  color: #333;
  border-radius: 3px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  transition: 300ms ease;
  &.thin {
    padding: 0.4rem 0.857rem;
  }
  &:hover {
    background: #eaeaea;
  }
}
