#nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
@media (max-width: 979px) {
  // TODO: Import breakpoints css vars
  #nav-main {
    justify-content: end;
  }
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav-end {
  align-items: end;
}
.nav-menu-link {
  padding: 0.857rem;
  color: #333;
  border-radius: 3px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  transition: 300ms ease;
  &.thin {
    padding: 0.4rem 0.857rem;
  }
  &:hover {
    background: #eaeaea;
  }
}
.nav-toggler {
  flex: 1;
  font-size: 1.5rem;
}
