header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header div {
  padding: 10px 20px 0 20px;
}
.logo {
  width: 100px;
  pointer-events: none;
}
.link {
  color: red;
}
.centered-nav {
  margin: 0 auto;
  width: 33%;
}
