.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* scrolling stuff below */
.scroll-left {
  height: 50px;
  width: 450px;
  overflow: hidden;
  position: relative;
  background: #282c34;
  color: white;
  border: 1px solid white;
}
.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  transform:translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 7s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
  0%   {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* scrolling stuff above */